body {
	margin: auto;
	background-color: #4d4154;
	font-family: arial;
	
}
div.container{
	display: flex;
	flex-direction: column;
	background-color: #be92de;
	margin: auto;
	vertical-align: center;
	justify-content: center;
	align-items: center;
	overflow:hidden;
	min-height: 100vh;
	width: 100%;
	height: 100%;
}
h1 {
	display: inline-block;
	font-size: 40px;
	color: #26084a;
	justify-content: left;
	vertical-align: center;
	float: left;
	margin: 20px;
	flex: 1;
	width: 10em;
	padding-left: 10px;
	
	
}
h2 {
	text-align: center;
	margin: 0;
	font-size: 30px;
	color: #26084a;
	padding: 2px;
}
h3 {
	margin: 2px;
	line-height: 20px;
	
}
div.content {
	display: flex;
	flex-direction: row;
	text-align: center;
	padding: 10px;
	
}
div.contentholder {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 100px;
	padding: 15px;
	align-items: center;
	background-color: #ae85cc;
	border-radius: 15px;
}
div.projects {
	display: flex;
	flex-direction: column;
	background-color: #be92de;
	margin: 0;
	vertical-align: top;
	justify-content: top;
	align-items: center;
	overflow:hidden;
	background-color: #ae85cc;
}
p{
	line-height: 20px;
	padding: 5px;
	color: #26084a;
	max-width: 250px;
	margin: 0;
}
p.display{
	line-height: 20px;
	padding: 5px;
	color: #26084a;
	max-width: 600px;
	margin: 0;
}
img{
  display: block;
  max-width: 350px;
  max-height: 350px;
  width: auto;
  height: auto;
  margin: 0;
  justify-content: center;
  padding: 10px;
  border-radius: 25px;
  
}
img.big{
	display: block;
	max-width: 600px;
	max-height: 600px;
	width: auto;
	height: auto;
	margin: 0;
	justify-content: center;
	padding: 10px;
	border-radius: 25px;
}
div.header{
	display: flex;
	flex-direction: row;
	height: 100px;
	width: 100%;
	position: sticky;
	top: 0;
	background-color: #6f428a;
	resize: none;
	text-align: center;

}
div.bottom{
	display: flex;
	height: 100px;
	margin-top: 100px;
	background-color: #6f428a;
	justify-content: center;
	align-items: center;
	width: 100vw;

}
a{
	text-decoration: none;
	color: #3d147a;
	font-family: arial;
	font-size: 12px;

}
a:hover{
	color: #44158a;
}
div.divider{
	width: 75%;
	padding: 2px;
	margin: auto;
	border-radius: 2px;
	background-color: #6f428a;
	
}
div.desc{
	vertical-align: top;
	text-align: left;
	min-width: 300px;
	max-width: 500px;
	margin-top: 20px;
}
img.icon{
	display: flex;
	flex: 1;
	margin-top: 15px;
	max-width: 50px;
	max-height: 50px;
	width: auto;
	height: auto;
	justify-content: center;
	vertical-align: center;
	transition: .5s ease;
}
img.icon:hover{
	transform: scale(1.2);
	transition: .5s ease;
}
div.filler{
    flex-grow: 1;
}
div.topnav{
	display: flex;
	flex-direction: row;
}
div.topnav a{
	display: flex;
	overflow: no-overflow;
	flex: 1;
	padding: 1em 1em;
	vertical-align: center;
	justify-content: center;
	align-items: center;
	color: #26084a;
	font-size: 30px;
	min-width: 3em;
	text-align: center;
	
	background: linear-gradient(to bottom, #6f428a 50%, #be92de 50%); 
	background-size: 200% 200%;
	transition: .5s ease-out;
	
	
}
div.topnav a:hover{
	background-position: bottom;
	

}


